<footer>
<div class="content-padding">

<div class="footer-content">



<h2>1990-2015 IMDB COM.INC</h2>




<div class="social-media-icons">
<a id="icon3" href="http://www.imdb.com/"><i class="fa fa-imdb" style="font-size:48px;"></i></a>
<a id="icon1" href="https://twitter.com/ABHISHEKDASROY1"><i class="fa fa-twitter" style="font-size:36px"></a></i>
<a id="icon4" href="https://www.facebook.com/abhishek.dasroy"><i class="fa fa-facebook-official" style="font-size:36px"></i></a>
<a id="icon2" href="https://github.com/abhishekdasroy?tab=repositories"><i class="fa fa-git-square" style="font-size:36px"></a></i>

</div>
</div>
<br><br><br><br>
<hr>
<h6 id="menu">SHOW MENU </h6>
<br><br><br>
</div>

</footer>